<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
</head>
<body>
<h3>Регистрация нового пользователя</h3>
<form th:action="@{/registration}" th:method="POST" th:object="${newUser}">
    <label for="login">Введите логин:</label>
    <input type="text" name="login" id="login" th:field="*{login}">
    <div style="color: crimson" th:if="${#fields.hasErrors('login')}" th:errors="*{login}"></div>
    <br>
    <label for="password">Введите пароль:</label>
    <input type="password" name="password" id="password" th:field="*{password}">
    <div style="color: crimson" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
    <br>
    <hr>
    <input type="submit" value="Зарегистрироваться">

    <a href="/logIn">Войти</a>
</form>
</body>
</html>